extends ../header

block head_space
  script(type="text/javascript", src="/js/stats.js")
  script(type="text/javascript", src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}")

block content
  .row
    .col-xs-3
      a(href="/")
        .btn.btn-default.mobile Back
    .col-xs-9.text-right.large Stats from 
  .row
    .col-xs-3
    .col-xs-9.text-right.large= (day) ? day : 'All Time'
  if day
    .row
      .col-xs-12.text-right
        a(href="/stats")
          .btn.btn-default.mobile View All
  hr
  .row
    .col-xs-6.text-right.large Average :
    .col-xs-6.large= stats.average
  hr

  .row
    .col-xs-8
      h1.large Totals
  hr
  .row
    .col-xs-6.text-right Games:
    .col-xs-4= stats.games
  .row
    .col-xs-6.text-right Balls Thrown:
    .col-xs-4= stats.balls
  .row
    .col-xs-6.text-right Strikes:
    .col-xs-4= stats.strikes
  .row
    .col-xs-6.text-right Spares:
    .col-xs-4= stats.spares
  hr

  .row
    .col-xs-8
      h1.large Personal Bests
  hr
  .row
    .col-xs-7.text-right High Score:
    .col-xs-4= stats.highScore
  .row
    .col-xs-7.text-right Most Strikes:
    .col-xs-4= stats.mostStrikes
  .row
    .col-xs-7.text-right Longest Streak:
    .col-xs-4= stats.streak
  hr

  .row
    .col-xs-12
      h1.large First Ball Breakdown
  hr
  .row
    #firstBallPie.col-xs-12.chart(style="height:500px;")
  hr

  .row
    .col-xs-12
      h1.large Spare Breakdown
  hr
  .row
    .col-xs-8.text-right Number of Attempts:
    .col-xs-4= stats.secondBalls
  .row
    #secondBallPie.col-xs-12.chart(style="height:500px;")
  .row
    .col-xs-12
      -var keys = [];
      -for(var key in stats.spareStats)
        -keys.push(key);
      -var offset = 0;
      -var i=0;
      -var statLen = keys.length;
      -while(i<statLen)
        -var spare = keys[i];
        -offset = 1;
        .row
          .col-xs-6
            .row
              if spare == 1
                .col-xs-12= spare + ' Pin Left:'
              else
                .col-xs-12= spare + ' Pins Left:'
            .row
              div(id="#{spare+'sparePie'}", style="height:250px;").col-xs-12.chart
          -if(typeof keys[i+1] != 'undefined')
            -var spare2 = keys[i+1];
            .col-xs-6
              .row.text-right
                if spare2 == 1
                  .col-xs-12= spare2 + ' Pin Left:'
                else
                  .col-xs-12= spare2 + ' Pins Left:'
              .row
                div(id="#{spare2+'sparePie'}", style="height:250px;").col-xs-12.chart
        -i += 2;
  hr

  .row
    .col-xs-8
      h1.large Per Game Stats:
  hr
  .row
    #gamePie.col-xs-12.chart(style="height:500px;")
  hr

  .row
    .col-xs-8
      h1.large Per Frame Stats:
  hr
  .row
    .col-xs-12
      .col-xs-1.frame-cnt-stack.text-center
        .row
          .col-xs-12.frame-cnt-head Fr
        .row
          .col-xs-12 X
        .row
          .col-xs-12 /
        .row
          .col-xs-12 O
        .row
          .col-xs-12.frame-cnt-body-xs AVG
      each fstats, frame in stats.frameStats
        .col-xs-1.frame-cnt-stack.text-center
          .row
            .col-xs-12.frame-cnt-head= frame
          .row
            .col-xs-12.frame-cnt-body= fstats.strikes
          .row
            .col-xs-12.frame-cnt-body= fstats.spares
          .row
            .col-xs-12.frame-cnt-body= fstats.opens
          .row
            .col-xs-12.frame-cnt-body-sm= fstats.avg

  -var gameStats = {Strikes:stats.strikesGame,Spares:stats.sparesGame,Opens:stats.opensGame};

  script(type='text/javascript').
    drawFirstBallPie(!{JSON.stringify(stats.avgFirst)});
    drawSecondBallPie(#{stats.avgSpare});
    drawGamePie(!{JSON.stringify(gameStats)});
    drawSparePies(!{JSON.stringify(stats.spareStats)});